h3 {
   font-size: 25px;
   width: 70%;
   
}

body {
    background-color: lightseagreen;
}

.name_of_objects {
    font-size:15px ;
}

#camera {
    border-style: white dashed;
    width: 300px;
    height: 250px;
}

#result_object_name, #result_object_accuracy {
    color: white;

}

#object, #accuracy{
    color: white;
}

